@import '../../global-vars.scss';

.discount_badge {
	position: absolute;
	top: 10px;
	right: 10px;

	&_big {
		border-radius: 100px;
		z-index: 2;
		background-color: $green;
		width: clamp(70px, 100px, 120px);
		height: clamp(70px, 100px, 120px);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		.discount_badge__content {
			span {
				display: block;
			}

			.discount_badge__amount {
				font-family: 'playfair-display';
				font-size: 20px;
				font-weight: 800;
			}

			.discount_badge__title {
				font-size: 12px;
			}
		}
	}

	&_small {
		position: absolute;
		border-radius: 15px;
		background-color: $green;
		z-index: 2;
		padding: 5px 10px;
	}
}
