@import "../../global-vars.scss";

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 1215px;
  margin: 0 auto;

  &_content_col {
    background: $tan;
    padding: 35px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content_container {

      h1 {
        font-family: "playfair-display";
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }

      @media (min-width: 768px) {
        max-width: 350px;
      }
    }
  }

  &_image_col {
    overflow: hidden;

    figure,
    img {
      max-width: 100%;
      width: 100%;
    }

    figure {
      position: relative;
    }

    img {
      object-fit: cover;
      position: absolute;
    }

    @media (min-width: 768px) {
      grid-column: 2;
    }
  }

  &_image_col,
  &_image_col img {
    height: 400px;
    width: 100%;
  }

  @media (min-width: 768px) {
    &_content_col,
    &_image_col {
      width: 50%;
    }
  }
}
