@import "../../global-vars.scss";

.product_item {
  .container {
    .figure,
    figure img {
      max-width: 100%;
      height: 250px;
    }

    .figure {
      overflow: hidden;

      img {
        transform: scale(1.02);
        object-fit: cover;
      }
    }
  }
}

.product_item_simplified {
  .content {
    background: $gray;
    text-align: center;
    font-family: "PlayfairDisplay";
    padding: 20px 0;
  }

  &:hover {
    .content {
      background: $green;
    }
  }
}

.product_item_complete {
  border: 2px solid transparent;

  .content {
    font-family: "PlayfairDisplay";
    padding: 15px;
  }

  &:hover {
    border: 2px dashed $darkerGray;
    border-radius: 5px;
  }
}
