@import '../../global-vars.scss';

.action_menu {
  &__list {
    li {
      display: inline-block;
      margin-right: 10px;

      a {
        position: relative;
        &:hover {
          color: $green;
          transition: color 0.3s ease;
        }
        transition: color 0.3s ease;
      }
    }
  }
}

.cart_number{
  position: absolute;
  top: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $tan;
  color: $black;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  font-weight: bold;
}
