@import "../../global-vars.scss";

.site_footer {
  max-width: 1024px;
  margin: 0 auto;

  .footer_container {
    .col_1,
    .col_2,
    .col_3 {
      text-align: center;
    }

    .col_1,
    .col_2 {
      padding: 25px 10px;
    }

    .col_3 {
      padding: 10px 10px;
    }

    .col_1 {
      border-top: 2px solid $gray;
    }

    .col_2 {
      background: $tan;
    }
  }
}
