@import '../../../global-vars.scss';

.site_menu {
	&__list {
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}

	&__list li {
		display: inline-block;
		margin-right: 5%;

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.burger_menu {
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		align-items: center;
		background: transparent;
		border: 1px solid $black;
		border-radius: 2px;
		padding: 10px 15px;
		font-size: clamp(10px, 1.7vw, 85%);

		span {
			margin-right: 5px;
		}

		@media (min-width: 768px) {
			display: none;
		}
	}
}
