@import './global-vars.scss';

@font-face {
  font-family: 'playfair-display';
  src: local('playfair-display'),
    url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
      format('ttf');
}

@font-face {
  font-family: 'open-sans';
  src: local('open-sans'),
    url(./assets/fonts/Open_Sans/OpenSans-VariableFont_wght.ttf) format('ttf')
      format('ttf');
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'open-sans', sans-serif;
}

ul,
ol,
ul li,
ol li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
}

a,
button,
input {
  outline: none;
}

.below_fold_container {
  max-width: 1024px;
  margin: 0 auto;
}
