@import '../../global-vars.scss';

.cart_item {
	display: flex;
	width: 100%;
	gap: 10px;
	margin: 20px 0;
	cursor: pointer;

	&__fig {
		width: 35%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__info {
		width: 65%;

		.item_info {
			&_title {
				font-size: clamp(12px, 9vw, 16px);
				margin-bottom: 5px;
				font-family: 'playfair-display';
			}

			&_description {
				font-size: clamp(10px, 9vw, 14px);
				margin-bottom: 15px;
			}

			&_price {
				font-weight: bold;
			}
		}
	}

	&:hover {
		background-color: $darkTan;
	}
}
